.prettyline {
  height: 10px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 10px;
  }

.inlineBlock {
  display :inline-block;
}

/* Color line credit to ninjamonk: [[http://bootsnipp.com/snippets/featured/mix-amp-match-login]]*/*/